
body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.heroBG, .footerBG {
    background: #E5F2C9;
}

.heroList {
    text-align: left;
    padding-left: 25%;
    
    font-size: 20px;
    font-weight: bold;
}

.buttonBG {
    background: #8EA49D;
}

h6 {
    text-align: left;

}

.bold {
    font-weight: bold;
}
.spotify {
    max-width: 400px;
    text-align: left;
    float: left;
    padding-right: 24px;
    
    
}

.emotion {
    line-height: 24px;
    font-size: 18px;
}
.polHead {
    font-size: 24px;
    font-weight: bold;
}
